*{
    padding: 0%;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* navbar header */

nav{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
}
.navbar{
    height: 100%;
    width: 80%;
    color: #1fa67a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar span{
    font-size: 24px;
    font-weight: 500;
}
.nav-text{
    display: flex;
    align-items: center;
    font-size: 15px;
    gap: 30px;
}
.nav-text a{
    text-decoration: none;
    color: #999999
}
.home{
background-color: #1fa67a;
padding: 20px 15px;
color: white !important;

}

/* page1 big img section */

.page-1{
    width: 100%;
    height: 70vh;
    background-image: url(slide.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.page-1-inside{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 80%;
    width: 80%;
}
.page-1 h2{
    height: 50px;
    width: 500px;
    font-size: 24px;
    font-weight: 500;
    color: white;
    background-color: #1fa67ab3;
    display: flex;
   justify-content: center;
   align-items: center;

}
.inside-text{
    height: 120px;
    width: 600px;
    color: white;
    font-size: 14px;
    background-color: #3b3b3bcc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.paragraph{
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
}

/* page2 download link */

.page-2{
    width: 100%;
    height: 15vh;
    background-color: #1fa67a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-2-inside{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    width:80%;
}
.page-2-inside span{
    font-size: 22px;
    color: white;
}
.page-2-inside a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    border: 1px white solid;
    border-radius: 4px;
    padding: 15px 30px;
}

/* page3 photos section */

.main-container{
    height: 540vh;
    width: 100%;
    display: flex;
}
.template-page{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.img{
    height: 400px;
    width: 90%;
    margin-top: 80px;
}
.img-container{
    height: 90%;
    width: 90%;
   display: flex;
   align-items: center;
   gap: 10px;
   border-top: 1px solid #cccccc;
   border-bottom: 1px solid #cccccc;
   margin-top: 20px;
}
.img a{
    text-decoration: none;
    font-size: 32px;
    color: black;
}
.img-1{
    height: 205px;
    width: 360px;
    background-image: url(img-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.paragraph-1{
    height: 205px;
    width: 360px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.paragraph-1 a{
    font-size: 14px;
    text-decoration: none;
    color: #1fa67a;
    margin-top: 30px;
    border: 1px solid #cccccc;
    padding: 10px 10px;
}
.img-2{
    height: 205px;
    width: 360px;
    background-image: url(img-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.img-3{
    height: 205px;
    width: 360px;
    background-image: url(img-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.img-4{
    height: 205px;
    width: 360px;
    background-image: url(img-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.img-5{
    height: 205px;
    width: 360px;
    background-image: url(img-5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.img-6{
    height: 205px;
    width: 360px;
    background-image: url(img-6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.img-7{
    height: 205px;
    width: 360px;
    background-image: url(img-7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.img-8{
    height: 205px;
    width: 360px;
    background-image: url(img-8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* order button */

.order-btn{
    background-color: #1f1f1f;
    height: 6vh;
    width: 81%;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
}
.order-link{
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.order-btn a{
    font-size: 12px;
    text-decoration: none;
    color: white;
    text-align: center;
}

/* side page section */

.side-page{
    height: 100%;
    width: 40%;
}

/* search box side area */

.search-box{
    margin-top: 60px;
    height: 8vh;
    width: 80%;
    display: flex;
    gap: 0px;
    margin-left: 2px;
}
.search-box input{
    font-size: 15px;
    height: 35px;
    width: 90%;
    border: none;
    box-shadow: 0px 0px 2px black;
}
.search-box button{
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius:3px ;
    height: 35px;
    width: 50px;
    background-color: #1fa67a;
    color: white;
    font-size: 14px;
    font-weight: 500;
}

/* 2nd section side area */

.popular-sec{
    height: 5vh;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 30px;
    align-items: center;
    
}
.popular-sec a{
    margin-left: 10px;
    text-decoration: none;
    color: #1fa67a;
}

/* 3rd image box date section side area*/

.box-section{
    height: 55vh;
    width: 80%;
    margin-left: 3px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.photo-1{
    height: 10vh;
    width: 100%;
    border-bottom: 1px solid #cccccc;
    display: flex;
    gap: 5px;
}
.photo-1 img{
    border: 1px solid black;
    height: 7vh;
    width: 70px;
    padding: 3px 3px;
}
.photo-links{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.photo-links a{
    font-size: 14px;
    color: #1fa67a;
    text-decoration: none;
}
.photo-links span{
    font-style: italic;
    font-size: 12px;
}

/*recent section side area */

.recent{
    margin-left: 2px;
    margin-top: 20px;
    height: 6vh;
    width: 80%;
    border-bottom: 1px solid #cccccc;
    font-size: 24px;
    color: #1fa67a;
}

/* list orders side area */

.messages{
    width: 81%;
    margin-top: 20px;
    
    font-size: 14px;
}
.messages ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.messages ul li{
    list-style: none;
}
.green-link{
    text-decoration: none;
    color: #1fa67a;
}

/* footer section*/

.footer{
    display: flex;
    justify-content: space-around;
    height: 40vh;
    width: 100%;
    background-color: #333333;
}
.list{
    height: 40%;
    width: 30%;
    color: #cccccc;
    font-size: 18px;
    margin-top: 40px;
}
.list ul{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 20px;
    list-style: none;
    font-size: 12px;
}
.colorlib{
    margin-top: 40px;
    height: 40%;
    width: 30%;
    color: #cccccc;
    font-size: 12px;
}
.colorlib img{
    height: 60px;
    width: 240px;
}
.border{
    border-bottom: 1px solid #999999;
}

/* 2nd footer links  */

.links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1f1f1f;
    height: 7vh;
    width: 100%;
}
.a-tag{
    display: flex;
    gap: 30px;
    font-size: 12px;
}
.a-tag a{
    text-decoration: none;
    color: #cccccc;
}
.web-address{
    display: flex;
    gap: 5px;
    color: #999999;
    font-size: 12px;
}
.web-address a{
    text-decoration: none;
    color: #cccccc;
}